*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    position: relative;
}

.carosello{
    width: 80%;
    height: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box-left{
    width: 100%;
    height: 100%;
}

.box-left img{
    width: 80%;
    height: 100%;
    object-fit: cover;
    display: none;
}

.box-left img.active{
    display: block;
}

.place{
    position: relative;
    width: 100%;
    height: 100%;
}

.box-right{
    position: absolute;
    right: 0;
    top: 0;
    width: 20%;
    height: 100%;
}

.box-right img{
    width: 100%;
    height: calc(100% / 5);
    object-fit: cover;
    display: block;
    filter: grayscale(100%);
}

.arrow-up{
    position: absolute;
    top: 0;
    right: 10%;
    transform: translateX(50%);
    font-size: 2em;
    color: white;
}

.arrow-down{
    position: absolute;
    bottom: 0;
    right: 10%;
    transform: translateX(50%);
    font-size: 2em;
    color: white;
}

